[submodule "gui/MckSvelte"]
	path = gui/src/mck
	url = git@github.com:HenriCSHC/MckSvelte
[submodule "src/helper"]
	path = src/helper
	url = git@github.com:HenriCSHC/MckHelper
[submodule "src/gui"]
	path = src/gui
	url = git@github.com:HenriCSHC/MckGui
