[submodule "src/helper"]
	path = deps/MckHelper
	url = ../MckHelper.git
[submodule "src/q"]
	path = deps/q
	url = ../q.git
[submodule "deps/TypeGenerator"]
	path = deps/TypeGenerator
	url = ../TypeGenerator.git
[submodule "JUCE"]
	path = deps/JUCE
	url = ../JUCE.git
[submodule "deps/MckJuce"]
	path = deps/MckJuce
	url = ../MckJuce.git
[submodule "deps/concurrentqueue"]
	path = deps/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
