:root {
	--font-family: mck-lato;
	--font-size: 14px;
	--font-header-size: 18px;
	--bg-color: #f0f0f0;
	--bg2-color: #e0e0e0;
	--fg-color: #222;
	--border-color: #222;
	--border-light-color: #a0a0a0;
	--shadow-color: #555;
	--hover-color: #666;
	--hl-color: #f0d000;
	--hl-border-color: #d0a000;
}
html, body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}